@model List<UNIManagement.Entities.ViewModel.NotificationViewModel>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<style>

</style>

<div class=" d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div id="kt_content_container" class="container-xxl">
            <div class="row pt-10">
                <div class="col-md-12">
                    <div class="card text-center">
                        <div class="card-header border-0 pt-6 row">
                            <div class="col-md-12">
                                <div class="card-toolbar d-flex justify-content-end">
                                </div>
                            </div>
                 
                        <div class="card-body pt-0">
                                <div class="row pt-5">
                                    <div class="col-md-6 text-start pl-5">
                                        <h1>Notification List</h1>

                                    </div>
                                    <div class="col-md-6 text-end">
                                        <a class="btn btn-primary" onclick="OpenAddNotification('0','0')">Add Notification</a>
                                    </div>

                                </div>
                            <!--begin::Table-->
                            <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table">
                                <!--begin::Table head-->
                                <thead>
                                    <!--begin::Table row-->
                                    <tr class="fw-bolder fs-7 text-uppercase gs-0">

                                        <th>No.</th>
                                        <th >Name</th>
                                        @* <th class="min-w-125px">file</th> *@
                                        <th >Date</th>
                                        <th >Duration</th>
                                        <th >Action</th>

                                        <!--end::Table row-->
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody class="fw-bold text-gray-600">
                                        @{
                                            int i = 1;
                                        }
                                    @foreach (var b in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@b.Name</td>
                                            @* <td>@b.Document</td> *@
                                            <td>@Convert.ToDateTime(b.Date).ToString("dd-MM-yyyy")</td>
                                            <td>@b.Duration</td>
                                            <td class="text-center">
                                                <a href="/Documents/Notification/@b.NotificationId/Document.pdf" download="" target="_blank">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill  text-info" viewBox="0 0 16 16">
                                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0" />
                                                    </svg>
                                                </a>
                                                <a onclick="OpenAddNotification('1','@b.NotificationId')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square text-success" viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                    </svg>
                                                </a>
                                                    <a asp-controller="Notification" asp-action="Delete" asp-route-id="@b.NotificationId" onclick="return fun1();">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash  text-danger" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                    </svg>
                                                </a>
                                            </td>
                                            </tr>

                                            i++;
                                        }
                                </tbody>
                                <!--end::Table body-->
                            </table>
                            <!--end::Table-->


                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
    <!--end::Post-->
</div>
<!--end::Content-->


<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddModalLabel">Add Notification</h5>
                <button type="button" class="close" id="closeModal" aria-label="Close" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <
            <div class="modal-body" id="AddModalData">
            </div>
        </div>
    </div>
</div>


<script>
    //delete pop up
        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }
        function validateDates() {
            var assignDate = document.getElementById("Date").value;
            var today = new Date();
            var assignDateError = document.getElementById("DateError");

            // Clear previous error messages
            assignDateError.textContent = "";
            dueDateError.textContent = "";

            if (enteredDate < today) {
                event.preventDefault(); // Prevent form submission
                dateError.textContent = "The date cannot be before today's date.";
            } else {
                dateError.textContent = ""; // Clear any previous error messages
            }
        }
//Edit ajax
    function OpenAddNotification(isEdit, notificationId) {

        $.ajax({
            type: 'GET',
            url: 'Notification/GetNotificationDetails',
            data: { isEdit, notificationId },
            success: function (data) {
                // Display modal with fetched data

                $("#AddModalData").html(data);

                $('#AddModal').modal("show");
            },
            error: function (req, status, err) {
                // Handle error during AJAX call

            }
        });



    }


</script>