 @model UNIManagement.Entities.ViewModel.ProjectDetailsViewModel;
 @using System.Net

<div class="text-start">
    <p>ProjectId : @Model.ProjectId</p>
    <p>ClientId : @Model.ClientId</p>
    <p>DomainId : @Model.DomainId</p>
    <p>ArrivalDate : @Model.ArrivalDate</p>
    <p>CommitmentDate : @Model.CommitmentDate</p>
    <p>GitRepo : @Model.GitRepo</p>
    <p>AdditionalInformation : @Model.AdditionalInformation</p>
    @* <p>BusinessNumber : @Model.BusinessNumber</p> *@
    <p>IsActive : @Model.IsActive</p>
    <p>PojectAttachmen : @Model.ProjectWiseAttachmentId </p>
    <p>Name : @Model.Name</p>
    @* <p>Document : @Model.Document</p> *@
    @* <p> DocDescription : @Model.DocDescription </p> *@
</div>
